<html>
  <head>
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/scrollStyle.css">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>
    <section id="authors" style="background-color: white;" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
                            <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2" style="text-align:justify;text-justify: inter-word; color:#080808;">
                                For Authors</h2>

							<p>This is intentionally left blank for authors section.Insert text here.</p>
					</div>
					</div>
				</div>

	</section>

  <script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
  <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
