<html>
  <head>
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/scrollStyle.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>

  <section class="tabs3 cid-rFMcY70WNV" id="tabs3-l">
  <div class="container">
      <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
        Call for Papers</h2>
  </div>
  
  <div class="container">
      <div class="row px-1">
              <div id="tab2" class="tab-pane  mbr-table" role="tabpanel">
                  <div class="row tab-content-row">
                      <div class="col-xs-12">
                          <p class=" mbr-fonts-style display-7" style="text-align:justify;text-justify: inter-word;">
                            The Department of Computer Science Engineering, Jaypee Institute of Information Technology, Noida, Uttar Pradesh, India, is organizing an International Conference on Frontiers in Information and Computer Security from November 5-7, 2020. The goal of the conference is to bring together the researchers from academia and industry as well as practitioners to share ideas, problems, and solutions related to the multifaceted aspects of Information Security. The target is to focus on the latest trends, techniques, and application areas requiring security. As the world goes seamlessly today, everything has become easily available and hence, more vulnerable to exploitation. This has also extended the domains of protection from merely data and information to those of devices, networks, media, and largely to the web-based products and applications. This platform is intended to bring together all these perspectives of modern-day security.
The conference shall be following the standard reviewing process through EDAS, a popular conference management systems.
 The UP IEEE section is the sponsor of the conference technically. 
 The accepted papers shall be available in conference proceedings, online in IEEE explore after the presentation during the conference.
The conference aims to cover the following broad aspects of Information Security. </p>
                            <ul>
                                <li>Cryptology and network security</li>
                                <li>Cyber and digital forensic</li>
                                <li>Software security, reliability, and assurance </li>
                                <li>Security, privacy and trust in modern data management</li>
                                <li>Intelligent secure systems</li>
                            </ul>
                            <b>Important Dates</b>
                                <ul>
                                    <li>Abstract Submission: July 5, 2020</li>
                                    <li>Full Paper Submission: July 31, 2020</li>
                                    <li>Notification of Acceptance: September 10, 2020</li>
                                    <li>Camera Ready Paper Submission: October 5, 2020 </li>
                                </ul>
                         <b>Submission Link:  <a href="https://edas.info/N27106">https://edas.info/N27106</a></b>
                      </div>
                  </div>
              </div>
      </div>
</section>
<!--Footer-->
<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>


