<html>
  <head>
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/scrollStyle.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>

  <section class="tabs3 cid-rFMcY70WNV" id="tabs3-l">
  <div class="container">
      <h2 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2">
        Registration Details</h2>
  </div>

  <div class="container">
      <div class="row px-1">
              <div id="tab2" class="tab-pane  mbr-table" role="tabpanel">
                  <div class="row tab-content-row">
                      <div class="col-xs-12 col-md-6">
                      </div></h4>
                      <style type="text/css">
                        .tg  {border-collapse:collapse;border-spacing:0;}
                        .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                        .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
                        .tg .tg-baqh{text-align:center;vertical-align:top}
                        .tg .tg-7geq{background-color:#ffffc7;text-align:center;vertical-align:top}
                        .tg .tg-zudm{background-color:#312f93;color:#ffffff;text-align:center;vertical-align:center}
                        .tg .tg-0lax{text-align:left;vertical-align:top}
                        .tg .tg-inf6{background-color:#ffffc7;color:#000000;text-align:center;vertical-align:top}
                        </style>
                        <table class="tg">
                          <tr>
                            <th class="tg-zudm" rowspan="3">CATEGORY</th>
                            <th class="tg-zudm" colspan="2">INR</th>
                            <th class="tg-zudm" colspan="2">USD</th>
                          </tr>
                          <tr>
                            <td class="tg-zudm" rowspan="2">NON-IEEE member</td>
                            <td class="tg-zudm">IEEE member/JIIT ALUMNI/ BOTH</td>
                            <td class="tg-zudm" rowspan="2">NON-IEEE member</td>
                            <td class="tg-zudm">IEEE member/JIIT ALUMNI/ BOTH</td>
                          </tr>
                          <tr>
                            <td class="tg-zudm">(After 20% discount)</td>
                            <td class="tg-zudm">(After 20% discount)</td>
                          </tr>
                          <tr>
                            <td class="tg-7geq" colspan="5">AUTHOR</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Professionals</td>
                            <td class="tg-baqh">₹ 12000</td>
                            <td class="tg-baqh">₹ 9600</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;350</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;280</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Full Time Student</td>
                            <td class="tg-baqh">₹ 6000</td>
                            <td class="tg-baqh">₹ 4800</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;175</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;140</td>
                          </tr>
                          <tr>
                            <td class="tg-inf6" colspan="5">CO-AUTHOR (Second registration for a paper)</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Professionals</td>
                            <td class="tg-baqh">₹ 9600</td>
                            <td class="tg-baqh">₹ 7600</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;280</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;220</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Full Time Student</td>
                            <td class="tg-baqh">₹ 4800</td>
                            <td class="tg-baqh">₹ 3800</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;140</td>
                            <td class="tg-baqh">US $&nbsp;&nbsp;110</td>
                          </tr>
                          <tr>
                            <td class="tg-7geq" colspan="5">NON-AUTHOR PARTICIPANTS</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Professionals (3 Days)</td>
                            <td class="tg-baqh">₹ 6000</td>
                            <td class="tg-baqh">₹ 4800</td>
                            <td class="tg-baqh">-</td>
                            <td class="tg-baqh">-</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Professionals (1 Day)</td>
                            <td class="tg-baqh">₹ 2500</td>
                            <td class="tg-baqh">₹ 2000</td>
                            <td class="tg-baqh">-</td>
                            <td class="tg-baqh">-</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Full Time Student (3 Days)</td>
                            <td class="tg-baqh">₹ 2500</td>
                            <td class="tg-baqh">₹ 2000</td>
                            <td class="tg-baqh">-</td>
                            <td class="tg-baqh">-</td>
                          </tr>
                          <tr>
                            <td class="tg-0lax">Full Time Student (1 Day)</td>
                            <td class="tg-baqh">₹ 1200</td>
                            <td class="tg-baqh">₹ 900</td>
                            <td class="tg-baqh">-</td>
                            <td class="tg-baqh">-</td>
                          </tr>
                        </table>
                      </div>
                  </div>
              </div>
      </div>
</section>
<!--Footer-->
<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>


