<html>
  <head>
    <link rel="stylesheet" href="assets/tether/tether.min.css">
    <link rel="stylesheet" href="../css/style2.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/scrollStyle.css">
    <link href="../css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  </head>
  <body>
    <section id="features" class="section-features" style="background-color: white;"
            <div class="container">
                <h6 class="mbr-section-title align-center pb-3 mbr-fonts-style display-2" style=" color:#111010;text-align: center; font-size: 3em;">
                    Conference Tracks</h6>
				<div class="row">
					<div class="col-lg-12 text-center" style="text-align:justify;text-justify: inter-word;">
            <p>The papers and ideas to be discussed in this conference aim to cover the following aspects of Information Security but not limited to:<br> </p>
             <p style="text-align: justify;text-justify: inter-word;font-weight: bold;">
                 1. Cryptology and Network Security
                <ul style="text-align:justify;text-justify: inter-word;">
                <li>Access Control</li>
                <li>Anonymity & Pseudonymity</li>
                <li>Applied Cryptography</li>
                <li>Attacks & Malicious Code</li>
                <li> Authentication, Identification</li>
                <li> Block & Stream Ciphers</li>
                <li> Blockchain Security and Privacy</li>
                <li> Cryptographic Algorithms and Primitivess</li>
                <li> Cryptographic Protocols</li>
                <li> Cyberphysical Security</li>
                <li> Denial of Service Protection</li>
                <li> Embedded System Security</li>
                <li> Formal Methods for Security</li>
                <li> Hash Functions</li>
                <li> Key Management Security Algorithms</li>
                <li>Security for software-defined and data center networks</li>
                <li>Mobile /5G Network Security</li>
                <li>Security in Internet of Things</li>
                <li>Security in CDN (Contents Distribution Networks)</li>
                <li>Virtual Private Network (VPN)</li>
                <li>Tracing Techniques in Internet</li>
                <li>Active Networks</li>
                <li>Security in Grid</li>
                <li>Web Monitoring</li>
                <li>Control Systems/SCADA Security</li>
                <li>Network Security Engineering</li>
                <li>Transport-Level Security</li>
                <li>Wireless Network Security</li>
                <li>IP Security</li>
                <li>Electronic Mail security</li>
                <li>Firewall Systems</li>
                <li>Hacking Techniques and Related Issues</li>
                <li>Intrusion Detection System (IDS)</li>
                <li>Honeypot</li>
                <li>Virus Issues (Detection, Prevention ...)</li>
                <li>Trusted Computing</li>
                <li>Alert Correlation</li>
                <li>Attack Graphs</li>
                <li>Incident Responding</li>
                <li>Malware Analysis</li>
                <li>Intrusion Detection</li>
                <li>Cryptographic Processors and Co-Processors</li>
                <li>Security Architectures</li>
                <li>True and Pseudorandom Number Generators</li>
                <li>Side Channel Attacks</li>
                <li>Fault Attacks</li>
                <li>Applications Using or Built on Top of Bitcoin</li>
                <li>Bitcoin Protocol and Extensions</li>
                <li>Blockchain Applications</li>
                </ul>
             </p>
              <p style="text-align: justify;text-justify: inter-word;font-weight:bold">
                2. Cyber and Digital Forensics
                <ul style="text-align:justify;text-justify: inter-word;">
                <li>Cyber-risk management </li>
                <li>Evidentiary Aspects of Digital Forensics</li>
                <li>Face Recognition Systems</li>
                <li>Signature Recognition Systems</li>
                <li>Forensic Analysis</li>
                <li>Digital Currency </li>
                <li>Anti-Forensics and Anti-Anti-Forensics Techniques</li>
                <li>Data leakage, Data protection and Database forensics</li>
                <li>Executable Content and Content Filtering</li>
                <li>Forensics of Virtual and Cloud Environments</li>
                <li>Emails mining & authorship identification</li>
                <li>Investigation of Insider Attacks</li>
                <li>Behavioral biometrics</li>
                <li>Malware forensics and Anti-Malware techniques</li>
                <li>Biometric Technologies for Security</li>
                <li>Feature Extraction and Matching Algorithms</li>
                <li>Green digital forensics and cyber investigation</li>
                <li>Privacy, security and trust in social media</li>
                <li>Content protection and digital rights management</li>
                <li>Identity and trust management</li>
                <li>Security of embedded systems</li>
                <li>Performance evaluation of biometric systems</li>
                <li>Tools for cyber and digital forensics</li>
                <li>Block-chain technologies</li>
                <li>Privacy exposures and violations</li>
                <li>Balancing digital investigations with privacy concerns</li>
                <li>Collaboration models between government, industry and/or academia</li>
                <li>Authorized access to encrypted information for forensic purpose</li>
                <li>Network Forensics and Traffic Analysis Hardware Vulnerabilities and Device Forensics</li>
                <li>Sustainable cyber threat intelligence in IoT, smart grids, and modern networks</li>
               </ul>
             </p>
              <p style="text-align: justify;text-justify: inter-word;font-weight:bold">
                3. Software Security, Reliability and Assurance
                <ul style="text-align:justify;text-justify: inter-word;">
                <li>Secure software design/architecture</li>
                <li>Secure software practices</li>
                <li>Security in requirements engineering</li>
                <li>Security analysis tools and methods</li>
                <li>Security-Savvy Software Development</li>
                <li>Security evaluation criteria and methodology</li>
                <li>Vulnerability, threat, and risk analysis</li>
                <li>Metrics, Measurements, and Analysis</li>
                <li>Obfuscation and software security</li>
                <li>Usability of secure/security software</li>
                <li>Security awareness for software developers 
                (Reliability, Security, Availability, and Safety of Software Systems)</li>
                <li>Program Debugging and Comprehension</li>
                <li>Security in Testing, Verification, and Validation</li>
                <li>Fault Tolerance for Software Reliability Improvement</li>
                <li>Information and Software Quality Assurance</li>
                <li>Modeling, Prediction, Simulation, and Evaluation</li>
                <li>Formal Methods</li>
                <li>Benchmark, Tools, Industrial Applications, and Empirical Studies</li>
                </ul>
             </p>
              <p style="text-align: justify;text-justify: inter-word;font-weight:bold">
                4.  Security, Privacy and Trust in Modern Data Management
                <ul style="text-align:justify;text-justify: inter-word;">
                <li>Data Encryption </li>
                <li>Data Privacy </li>
                <li>Data Security </li>
                <li>Data hiding and watermarking</li>
                <li>Cloud and big data security</li>
                <li>Digital right management and data protection</li>
                <li>Database security </li>
                <li>Mobile App Privacy & Security</li> 
                <li>Web trust </li>
                <li>Trust in crowdsourcing</li>                            
                <li>SLM oriented Trust       </li>
                <li>Critical Infrastructure (e.g. for Medical or Military Applications)</li>           
                <li>Data and Computation Integrity</li>
                <li>Identity and Trust Management</li>
                <li>Information Assurance</li>
                <li>Information Filtering</li>
                <li>Privacy Enhancing Technologies</li>                               
                <li>Security Policies (Human-Computer Interaction and Human Behavior Impact)</li>
                <li>Security Measurements</li>
                <li>Smart Cities</li>
                <li>Social Networks  </li>                                 
                <li>Big Data Management</li>
                <li>Cloud Systems</li>
                </ul>
             </p>
              <p style="text-align: justify;text-justify: inter-word;font-weight:bold">
                5. Intelligent Secure Systems
                Soft computing algorithms and technologies applied to:
                <ul style="text-align:justify;text-justify: inter-word;">
                <li>Cyber Security</li>
                <li>Distributed and cooperative security solutions</li>
                <li>Autonomous key management</li>
                <li>Identity management</li>
                <li>Military deployable applications</li>
                <li>Threat forecasting</li>
                <li>Fraud detection</li>
                <li>Attack prevention</li>
                <li>Secure routing</li>
                <li>Self-optimization techniques in wireless network security</li>
                <li>Anomaly detection</li>
                <li>Soft security mechanisms</li> 
                <li>Trust analysis/measurement</li>
                <li>Robustness and survivability</li>
                <li>Bio-inspiring system in cyber security</li>
                <li>Agent-based security architecture</li>
                <li>Cloud computing security and privacy</li>
                <li>Automated vulnerability assessment</li>
                <li>Biometric identification and authentication</li>
                <li>Biometric identifiers based on physiological, behavioural and other characteristics</li>
                <li>Bio-enabled multi-factor authentication</li>
                <li>Privacy in biometrics</li>
                </ul>
            </p>
					</div>
</div>
</div>
</div>
    </section>

<!--Footer-->
<script src="../node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
